*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #4c95ad;
}

.wrapper {
    display: flex;
}

.header {
    margin-top: 30px;
    margin-left: 700px;
    font-family: 'Satisfy', cursive;
    font-size: 80px;
}

.clear {
    margin-left: 60px;
    margin-top: 60px;
}

button {
    vertical-align: middle;
    height: 50px;
    width: 80px;
    background-color: #336C92; 
    border: thin solid #1C1B50;
    outline: none;
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 3px 3px;
    cursor: pointer;
    box-shadow: 0 0 4px black;
}

button:active {
    box-shadow: 0 0 3px #666;
    transform: translateY(2px);
  }


#container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    height: 780px;
    width: 780px;
    margin: auto auto;
    border: 6px solid #324A5A;
    background-color: rgb(132, 147, 158);
}

.square {
    display: flex;
    flex-flow:row;
    justify-content: space-around;
    clear: both;
    vertical-align: middle;
}

.hover {
    background-color: black;
}